@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Empréstimos online</h1>
    <p>Seu sistema ideal para controle de empréstimos de livros!</p>

    <div>
        <img src="/img/e-book.png" />
    </div>

</div>
